.button {
  display: inline-flex;
  flex: none;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 38px;
  height: 38px;
  padding-inline: 16px;
  font: inherit;
  color: black;
  letter-spacing: inherit;
  cursor: pointer;
  user-select: none;
  background-color: white;
  border: none;
  border-radius: var(--border-radius-sm);
  box-shadow: 2px 2px 1px rgb(0 0 0 / 10%);
  transition: transform 300ms;
  will-change: transform;

  &:focus-visible {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }

  &:focus-visible,
  &:hover:not([disabled], [disabled="true"]) {
    box-shadow: 4px 4px 8px rgb(0 0 0 / 20%);
    transform: scale(1.05);
  }

  &[disabled], &[disabled="true"] {
    color: #c5cbe3;
    cursor: not-allowed;
  }

  &_sm {
    min-width: 32px;
    height: 32px;
  }

  &_full {
    flex-shrink: 1;
    width: 100%;
  }

  &_active {
    &, &[disabled], &[disabled="true"] {
      font-weight: bold;
      color: var(--c-primary);
      border: 3px solid var(--c-primary);
    }
  }
}
