.page-header {
  position: sticky;
  top: 0;
  z-index: 1;
  height: var(--header-height);
  color: var(--c-primary);
  background-color: var(--c-background);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}
