:global(body.modal-open) {
  overflow: hidden;
}

.modal-dialog {
  --modal-padding: 28px;

  top: 50%;
  left: 50%;
  min-width: 430px;
  min-height: 200px;
  background-color: var(--c-background);
  border: 2px solid var(--c-primary);
  border-radius: var(--border-radius-md);
  box-shadow: 3px 3px 8px 4px rgb(0 0 0 / 20%);
  transform: translate(-50%, -50%);

  &::backdrop {
    background-color: rgb(0 0 0 / 15%);
  }

  &__header {
    display: flex;
    align-items: center;
    min-height: 64px;
    color: var(--c-primary);
    border-bottom: 2px solid var(--c-primary);
  }

  &__heading {
    margin: var(--modal-padding);
  }

  &__close-button {
    padding: 0;
    margin: 0 var(--modal-padding) 0 auto;
    font-size: 18px;
    border-radius: 50%;
  }

  &__content {
    padding: var(--modal-padding);
  }
}
